body {
    font-family: Verdana, Arial, sans-serif;
  }
  h1 {
    color: white;
    background-color: black;
  }
  h1.clicked {
      color: #FFA500;
      background-color: navy;
  }
  h2 {
    color: green;
    margin-left: 40px;
  }
  h2.clicked {
      background-color: red;
  }